{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-sm-4">
                <h1><a href="{{ path('organizations.index') }}">{{org.name}}</a></h1>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-sm-2 text-info">
                <h6>{{ "ОГРН: " ~ org.ogrn }}</h6>
            </div>
            <div class="col-sm-2 text-info">
                <h6>{{ "ОКТМО: " ~ org.oktmo }}</h6>
            </div>
        </div>
    </div>
    <div class="container">
    <h4>Список сотрудников</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>#</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Действия</td>
            </tr>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.middlename }}</td>
                    <td><a href="{{ path('user.show') }}">Просмотреть</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
{% endblock %}
