{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1><a href="{{ path('organizations.index') }}">{{org.name}}</a></h1>
    <h6>{{ "ОГРН: " ~ org.ogrn }}</h6>
    <h6>{{ "ОКТМО: " ~ org.oktmo }}</h6>

    <h2>Список сотрудников</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>#</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Дата рождения</td>
                <td>ИНН</td>
                <td>СНИЛС</td>
            </tr>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.middlename }}</td>
                    <td>{{ user.birthdate|date('d.m.Y') }}</td>
                    <td>{{ user.inn }}</td>
                    <td>{{ user.snils }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
{% endblock %}
